<!DOCTYPE html>
<html>
<head>
  <title>Patrick</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>GOD DMAN</h1>
<h1>Testing from the bathroom</h1>
<h1>David Rules!!!!</h1>
<h3>.....hard</h3>
<h1>O'Keefe Rules!!!!</h1>
<h3>.....hard</h3>
<p>this is the commit of the cnetury</p>
<p>See we are smart</p>
<%= yield %>

</body>
</html>
